*{
    padding: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.nav{
    height: 230px;
    background:#00a884
}

body {
    height: 1100px;
    background: #eae6df;
}

.wp-logo{
    height: 40px;
    margin-top: 30px;
    margin-left: 10rem;
}

.wp-title {
    color: white;
    font-size: 14px;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", "Arial", ubuntu, Cantarell, "Fira Sans", sans-serif;
    font-weight: bold;
    position: relative;
    top: -16px;
    left: 18px;
}

.main{
    height: 900px;
    background: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 3px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading{
    padding: 70px 30px 30px 65px;
}

p{
    padding: 10px;
}

/*--------------------QR Code--------------------*/
.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 30px 30px 30px 65px;
    font-size: 20px;
}

.QR-Code {
    flex: 1;
    padding: 20px;
}
.qr{
    height: 250px;
    margin-left: 140px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

/*---------------------Horizontal Line------------------*/
hr.shadowed{
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #000, transparent);
  }
/*---------------link with phone number section------------*/
.link {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    color: #009776;
    font-size: 20px;
}

/*-----------------Footer------------------*/
.footer {
    padding-bottom: 30px;
    background: #f7f9fa;
}

.tut{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.help{
    text-align: center;
    padding-top: 15px;
}
a{
    color: #009776;
    text-decoration: none;
}

video{
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
